<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,120}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>dun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{138,120}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,120}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>dun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{120,108}}</string>
                <key>offset</key>
                <string>{-40,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,108}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>dun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,370},{114,106}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{114,106}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>dun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{166,106}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{166,106}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
            <key>dun6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{136,112}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{136,112}}</string>
                <key>sourceSize</key>
                <string>{200,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>att.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:123f67809238225d6bb42dc4f631e3b9$</string>
            <key>textureFileName</key>
            <string>att.png</string>
        </dict>
    </dict>
</plist>
